body
{
    display: flex;
}
#config>label
{
    margin: 16px 0;
}
#preview_area
{
    max-width: 50%;
}
#preview
{
    max-width: 100%;
    /*letter-spacing: 300px;*/
}
@font-face {
    font-family: main;
    src: url("HanWangZonYi.woff2");
}
#font_loader
{
    font-family: main;
    position: absolute;
    visibility: hidden;
}
@media (orientation: portrait)
{
    body
    {
        flex-direction: column;
    }
    #preview_area
    {
        max-width: 100%;
    }
}